@import "Assets/styles/variables";
@import "Assets/styles/nullstyle";
@import "Assets/styles/mixins";
@import "Assets/styles/media-mixin";
@import "Assets/styles/flex-helper";
@import "Assets/styles/fonts";
@import "Assets/styles/btn";

.page {
    margin-top: 40px;
    width: 100%;
    height: 100%;
}

main {
    padding-bottom: 60px !important;
}

.form__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
}

input {
    font-size: 18px;
    width: 100%;
    background-color: #000;
    border-radius: 25px;
    padding: 8px 25px;
    border: 4px solid transparent;

    &:focus {
        border-color: cyan;
    }
}


.btn-submit {
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    background-color: #2ab440;
    padding: 8px 25px;
    border-radius: 15px;
    margin-top: 30px;

    &:hover {
        background-color: #49df62;
    }

    &:active {
        background-color: #18aa30;
    }
}

.btn-center {
    text-align: center;
    margin: 0 auto;
}

.btn-sm {
    width: 250px;
}

.text-white {
    color: #fff;
}

.input__container {
    width: 100%;
    margin-top: 30px;
    position: relative;


    select {
        font-size: 18px;
        width: 100%;
        background-color: #000;
        border-radius: 25px;
        padding: 8px 25px;
        border: 4px solid transparent;

        &:focus {
            border-color: cyan;
        }
    }

    .ck-content {
        color: #000;
    }
}

.error {
    font-size: 14px;
    position: absolute;
    bottom: -22px;
    left: 25px;
    color: coral;

    &__field {
        border-color: coral;
    }
}

.success__field {
    border-color: #2ab440;
}

.redirect__btn {
    font-size: 18px;
    text-align: center;
    color: #000;
    cursor: pointer;
    margin-top: 25px;
}

.question-details-page {
    max-width: 600px;
    margin: 40px auto 0;
}