.spinner {
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        display: block;
        fill: #fff;
        width: 50px;
        height: 50px;

        &-mini {
            width: 25px;
            height: 25px;
        }

        &-black {
            fill: #000;
        }
    }
}