.btn {
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;

    &-mini {
        padding: 5px 15px;
    }

    &--text-white {
        color: #fff;
    }

    &-blue {
        background-color: #00a3ff;
    }

    &-green {
        background-color: #2ab440;
    }
}
